.App {
  /* text-align: center; */
}

.list-header {
  display: flex;
}

.list-header > h3 {
  cursor: pointer;
}

.btn {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.like-btn {
  
  margin: 0 5px 0 1rem;
  font-size: 1.5rem;
}

.like-count {
  line-height: 62px;
  font-weight: bold;
}

.random-btn {
  margin-left: 20px;
  font-size: 1rem;
  background-color: #f44f1a;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: #fff;
}

.sort-btn {
  margin-left: 20px;
  font-size: 1rem;
  background-color: #f44f1a;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: #fff;
}

.change-btn {
  font-size: 0.7rem;
  background-color: #f4835d;
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  color: #fff;
}

.modal {
  padding: 20px 30px;
  margin-bottom: 20px;
  background-color: #f4511a23;
  text-align: left;
}

.banner {
  width: 100%;
  background-color: #FDD8DF;
}

.banner > img {
  display: block;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.orange-nav {
  display: flex;
  padding-left: 20px;
  background-color: #f44f1a;
  color: #fff;
}

.blog-list {
  list-style-type: none;
  padding: 0 20px;
  box-sizing: border-box;
}

.blog-list > li {
  border-bottom: 1px solid #949494;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
